=javascript_include_tag 'previewImg'
%h2.text-center Editing article
=render partial: '/shared/errors', locals: {model_obj: @article}
= bootstrap_form_for :article, url: admin_user_article_path(@user, @article), method: :patch do |f|
    = f.text_field :title
    = f.text_area :text
    = f.file_field :img, id: "img-upload"
    = image_tag @article.img.url(:thumb), class:"img-thumbnail", id:"img_prev", size:"280x280"
    %br
    %br
    = f.submit "Save article", class: "btn btn-success"
    = f.hidden_field :img_cache
%br
%a.btn.btn-primary{:href => "#{admin_user_articles_path(@user)}"}
    %i.fa.fa-backward.fa-lg= ' Back'
%br
%br
