%h1 Listing articles By #{@admin.username}
%br
= link_to content_tag(:i,' New Article', class: 'fa fa-plus fa-lg'), 
   new_admin_admin_article_path(@admin), class: 'btn btn-success'
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Text
      %th{colspan:"2"}
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= link_to content_tag(:i,' Show', class: 'fa fa-eye'), 
              admin_admin_article_path(@admin, article), class: 'btn btn-info'
        %td= link_to content_tag(:i,' Edit', class: 'fa fa-pencil-square-o'), 
              edit_admin_admin_article_path(@admin, article), class: 'btn btn-warning'
        %td= link_to 'Destroy Article', admin_admin_article_path(@admin, article),
              method: :delete,
              data: { confirm: 'Are you sure delete this article?' },
              class: "btn btn-danger"
=render 'shared/paginator', model_obj: @articles
%br
- if can? :manege, @admin
  = link_to content_tag(:i,' Back', class: 'fa fa-backward fa-lg'), admin_admins_path, class: 'btn btn-primary'