%h1 Listing articles By #{@user.username}
%br
= link_to content_tag(:i,' New Article', class: 'fa fa-plus fa-lg'), 
   new_admin_user_article_path(@user), class: 'btn btn-success'
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Text
      %th{:colspan => "2"}
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= link_to content_tag(:i,' Show', class: 'fa fa-eye'), 
              admin_user_article_path(@user, article), class: 'btn btn-info'
        %td= link_to content_tag(:i,' Edit', class: 'fa fa-pencil-square-o'), 
              edit_admin_user_article_path(@user, article), class: 'btn btn-warning'
        %td= link_to 'Destroy Article', admin_user_article_path(@user, article),
              method: :delete,
              data: { confirm: 'Are you sure delete this article?' },
              class: "btn btn-danger"
= link_to content_tag(:i,' Back', class: 'fa fa-backward fa-lg'), admin_users_path, class: 'btn btn-primary'