.panel.panel-primary
  .panel-heading
    %h3.panel-title= "Article By: #{@admin.username}"
  .panel-body
    %h4= "Title: #{@article.title}"
    %br
    %h4= "Description: #{@article.text}"
    %br
    = image_tag @article.img.url
= link_to content_tag(:i,' Back', class: 'fa fa-backward'), 
  admin_admin_articles_path(@admin), class: 'btn btn-primary'
= link_to content_tag(:i,' Edit', class: 'fa fa-pencil-square-o'), 
  edit_admin_admin_article_path(@admin, @article), class: 'btn btn-warning'