%h1 Editing article

= form_for :article, url: article_path(@article), method: :patch do |f|
  =render partial: 'errors'
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :text
    %br
    = f.text_area :text
  %p
    = f.submit
= link_to 'Back', articles_path
