%h1 Editing article

= form_for :article, url: user_article_path(@user, @article), method: :patch do |f|
  =render partial: 'shared/errors'
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :text
    %br
    = f.text_area :text
  %p
    = f.submit
= link_to 'Back', user_articles_path(@user)
