%h1 Listing all articles
%br
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Text
      %th Author
      %th{:colspan => "2"}
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= article.user.username
        %td
          %a.btn.btn-info{:href => "#{article_path(article)}"}
            %i.fa.fa-eye= ' Show'
%a.btn.btn-primary{:href => "#{welcome_index_path}"}
  %i.fa.fa-backward.fa-lg= ' Back'