= form_for :article, url: user_articles_path do |f|
  =render partial: 'shared/errors', locals: {model_obj: @article}
  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :text
    %br
    = f.text_area :text

  %p
    = f.submit
= link_to 'Back', user_articles_path
