%label= "By User: #{@user[:username]}"
%br
%br
%label= "Title: #{@article[:title]}"
%br
%label= "Description: #{@article[:text]}"
%br
= link_to 'Back', user_articles_path(@user)  
= link_to 'Edit', edit_user_article_path(@user, @article)