.panel.panel-primary
  .panel-heading
    %h3.panel-title= "Article By: #{@article.user.username}"
  .panel-body
    %h4= "Title: #{@article.title}"
    %br
    %h4= "Description: #{@article.text}"
    %br
    = image_tag @article.img.url
%a.btn.btn-primary{:href => "#{articles_path()}"}
  %i.fa.fa-backward= ' Back'