%h1 Listing user
%br 
%a.btn.btn-success{:href => "#{new_user_path}"}
  %i.fa.fa-plus.fa-lg= ' Create user'
%table.table.table-striped
  %thead
    %tr
      %th User name
      %th Email
      %th{:colspan => "4"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td
          %a.btn.btn-info{:href => "#{user_path(user)}"}
            %i.fa.fa-eye= ' Show' 
        %td
          %a.btn.btn-warning{:href => "#{edit_user_path(user)}"}
            %i.fa.fa-pencil-square-o= ' Edit'
        %td
          %a.btn.btn-success{:href => "#{new_user_article_path(user)}"}
            %i.fa.fa-plus= ' Create article'
        %td
          %a.btn.btn-info{:href => "#{user_articles_path(user)}"}
            %i.fa.fa-eye= ' Show articles'
        %td
          = link_to 'Destroy User', [user],
               method: :delete,
               data: { confirm: 'Are you sure delete this user?' },
               class: "btn btn-danger"
