%nav.navbar.navbar-inverse{role:"navigation"}
  .container-fluid
    .navbar-header
      = link_to 'Trainig Ruby on Rails', root_path, class: 'navbar-brand'
      %button.navbar-toggle{"data-target" => ".navbar-menubuilder", "data-toggle" => "collapse", type:"button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-menubuilder
      - if admin_signed_in?
        %ul.nav.navbar-nav.navbar-left
          %li= link_to 'Users', admin_admins_path
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Sign out', destroy_admin_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-left
          %li= link_to 'Articles', articles_path
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Sign in', new_admin_session_path