.panel.panel-primary
  .panel-heading
    %h3.panel-title About User
  .panel-body
    %h4= "User Name: #{@admin.username}"
    %br
    %h4= "Email: #{@admin.email}"
    %br
    %h4= "Password: #{@admin.password}" 	
= link_to content_tag(:i,' Back', class: 'fa fa-backward'), 
  admin_admins_path, class: 'btn btn-primary'
= link_to content_tag(:i,' Edit', class: 'fa fa-pencil-square-o'), 
  edit_admin_admin_path(@admin), class: 'btn btn-warning'